<!-- <button class="btn btn-primary" (click)="toggleIt()">Display Details</button>
 <p *ngIf = "!isShow">{{ password }}</p> -->

 <!-- <button class="btn btn-primary" (click)="isShow = !isShow">Display Details</button> -->
 <button class="btn btn-primary" (click)="this.isShow = !this.isShow ">Display Details</button>
 <p *ngIf = "isShow">{{ password }}</p>
 <div *ngFor= "let logItem of log; let i= index;" 
 [ngStyle]="{backgroundColor: i>= 4 ? 'blue': 'white'}" 
 [ngClass]= "{'col': i >= 4}">
 {{ logItem }}</div>

